doctype
html(lang = "en")
  head
    block head
  body
    header.header
      block header
    section.banner
      block banner
    section.container
      block content
      block tags
      block pagination
      block comment
    footer.footer
      block footer
